.u-section-1 {
  background-image: url("images/4c18788ece84c4600504759d0e8f9904b19dc2f5bf8a70041462c8b51df99d2756fc598bb582a4bfb24454f7cba151505a2e0139eac0b31ebdf46c_12801.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1136px;
}

.u-section-1 .u-group-1 {
  width: 880px;
  min-height: 253px;
  height: auto;
  background-image: none;
  margin: 95px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 26px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  font-weight: 700;
  width: 572px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 47px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 76px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 598px;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 23px auto 0 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 900;
  font-size: 1.875rem;
  margin: 100px 329px 0 30px;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-text-5 {
  font-weight: 900;
  font-size: 1.875rem;
  margin: 100px 329px 0 30px;
}

.u-section-1 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  animation-duration: 1750ms;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 598px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-block-7bb5-108 {
  background-image: none;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-block-7bb5-125 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 229px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 229px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 493px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 119px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 119px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    width: 320px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }
}